* {
  margin: 0;
  padding: 0;
  list-style: none;
  touch-action: none; }

html, body {
  width: 100%;
  height: 100%; }

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }

header {
  width: 100%;
  height: 44px;
  display: flex;
  position: relative;
  padding: 0 10px;
  box-sizing: border-box; }
  header input {
    width: 100%;
    height: 35px;
    padding: 0 50px;
    box-sizing: border-box;
    border: 0;
    border-radius: 15px; }
  header span {
    position: absolute;
    left: 15px;
    top: 8px; }

section {
  flex: 1;
  overflow-y: hidden; }

footer {
  width: 100%;
  height: 50px;
  display: flex; }
